.article {
  position: relative;
  padding: 1em;
}

.article .title {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.article button {
  float: right;
}

.article .content {
  position: relative;
  display: block;
  border-top: 1px solid #bdc3c7;
}
