.article {
  position: relative;
  padding: 1em;
}

.article .title {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.article button {
  float: right;
}

.article .content {
  position: relative;
  display: block;
  border-top: 1px solid #bdc3c7;
}

.article .content h1 {
    font-size: 2em;
}

.article .content h2 {
    font-size: 1.5em;
}

.article .content h3 {
    font-size: 1.17em;
}

.article .content h4 {
    font-size: 1em;
}

.article .content h5 {
    font-size: 0.83em;
}

.article .content h6 {
    font-size: 0.67em;
}