.article-list .feed {
  width: 20%;
  background: #dadada;
  border-right: 2px solid #bababa;
}

.article-list .feed .feed-title {
  background: #cacaca ;
  padding: 0.7em 0.8em;
  font-size: 0.9em;
  border-bottom: 1px solid #bababa;
}

.article-list .feed .feed-title a {
  color: #34495e;
}

.article-list .feed .feed-title a:hover {
  color: #1abc9c;
}

.article-list .feed .filter-bar {
  position: relative;
  padding: 0em 0.8em;
  font-size: 0.9em;
  border-bottom: 1px solid #bababa;
}

.article-list .feed .filter-bar .filters {
  position: absolute;
  top: 0;
  right: 1em;
}

.article-list .feed .filter-bar .filters .active-filter {
  font-weight: bold;
}

.article-list .feed ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.article-list .feed li {
  position: relative;
  padding: 0.7em 0em;
  font-size: 0.95em;
  border-bottom: 1px solid #bababa;
  max-height: 10em;
}

.article-list .feed li:hover,
.article-list .feed li:hover .preview:after {
  background: #eaeaea;
  cursor: pointer;
}

.article-list .feed article {
  padding: 0em 2em;
  line-height: 1.2em;
}

.article-list .feed .unread {
  border-left: 0.3em solid #1abc9c;
}

.article-list .feed time {
  display: block;
  color: #9a9a9a;
  font-size: 0.8em;
  line-height: 1em;
  font-style: italic;
}

.article-list .feed .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.3em 0;
  font-size: 1em;
}

.article-list .feed .preview {
  color: #9a9a9a;
  font-size: 0.8em;
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
}
