.article-list {
  position: relative;
  width: auto;
}

@media (min-width: 60em) {
  .article-list {
    width: 24em;
  }
}

.article-list .feed {
  width: 100%;
  color: #fff;
  text-align: left;
  display: block;
  position: relative;
}

.article-list .feed .name {
  width: 100%;
  color: #fff;
  text-align: left;
  padding: 1em 0;
  text-indent: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.article-list .feed .unreads {
  display: inline-block;
  width: auto;
  position: absolute;
  right: 1em;
  top: 50%;
  line-height: 0;
}

.article-list .filters {
  position: relative;
  text-align: right;
  padding: 0.5em 1em;
  color: #fff;
}

.article-list .filters:before {
  content: 'Filter by: ';
  position: absolute;
  left: 1em;
}

.article-list .filter-bar .filters .active-filter {
  font-weight: bold;
}

.article-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.article-list ul li {
  position: relative;
}

.article-list ul li:nth-child(even) {
  background: #ecf0f1;
}

.article-list ul li a {
  border-bottom: 1px solid #bdc3c7;
  padding: 1em;
  display: block;
  color: #34495e;
}


@media (min-width: 60em) {
  .article-list ul li a {
    border-right: 1px solid #bdc3c7;
  }
}

.article-list ul li a .pub-date,
.article-list ul li a .h6,
.article-list ul li a .summary {
  display: block;
}

.article-list ul li a .summary {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
