.feed {
  width: 20%;
  background: #dadada;
  border-right: 2px solid #bababa;
}

.feed .feed-title {
  background: #cacaca ;
  padding: 0.7em 0.8em;
  font-size: 0.9em;
  border-bottom: 1px solid #bababa;
}

.feed ul {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

.feed li {
  position: relative;
  padding: 0.7em 0em;
  font-size: 0.95em;
  border-bottom: 1px solid #bababa;
  max-height: 10em;
}

.feed li:hover,
.feed li:hover .preview:after {
  background: #eaeaea;
  cursor: pointer;
}

.feed article {
  padding: 0em 2em;
  line-height: 1.2em;
}

.feed .unread {
  border-left: 0.3em solid #1abc9c;
}

.feed time {
  display: block;
  color: #9a9a9a;
  font-size: 0.8em;
  line-height: 1em;
  font-style: italic;
}

.feed .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.3em 0;
  font-size: 1em;
}

.feed .preview {
  color: #9a9a9a;
  font-size: 0.8em;
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
}
