.no-feeds {
  text-align: center;
  margin: 2em auto 0;
}

.feeds {
  list-style-type: none;
  margin: 0;
  padding: 1em 1em 0;
  position: relative;
}

.feeds.empty {
  display: none;
}

.feeds li {
  width: 10em;
  margin: 1em;
  display: inline-block;
  vertical-align: top;
}

.feeds .feed {
  display: block;
  color: #fff;
}

.feeds .feed span {
  display: block;
  text-align: center;
}

.feeds .feed .icon {
  display: block;
}

.feeds .feed .unreads {
  padding: 0;
}

.feeds .feed .unreads:before {
  content: 'Unreads: ';
}

.feeds .feed .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feeds .remove {
  width: 100%;
}

@media (max-width: 60em) {
  .subscriptions ul {
    padding: 0;
  }

  .subscriptions .subscription {
    width: auto;
    height: auto;
    display: block;
    border-radius: 0;
    background: 0;
    border-top: 1px solid #666;
    padding: 1em;
  }

  .subscriptions .subscription:last-child {

    border-bottom: 1px solid #666;
  }

  .subscriptions .subscription .name {
    background: 0;
    color: #333;
    text-align: left;
    padding: 0;
  }
}
