.form-container .btn {
  width: 100%;
}

.form-container .form {
  margin: 2em auto 0;
  max-width: 16em;
  padding: 2em;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.form-container .form .error {
  color: #e74c3c;
  font-weight: bold;
}

.form-container .form .fui {
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  color: #7f8c8d;
}

.form-container .form .fui:before {
  line-height: 0;
  font-size: 1rem;
  color: inherit;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form-container .form .form-control {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2em;
}

.form-container .form .avatar {
  border-radius: 50%;
}

.form-control.ng-dirty.ng-invalid {
  color: #e74c3c;
  border-color: #e74c3c;
}

.form-control.ng-dirty.ng-invalid:-moz-placeholder {
  color: #e74c3c;
}

.form-control.ng-dirty.ng-invalid::-moz-placeholder {
  color: #e74c3c;
}

.form-control.ng-dirty.ng-invalid:-ms-input-placeholder {
  color: #e74c3c;
}

.form-control.ng-dirty.ng-invalid::-webkit-input-placeholder {
  color: #e74c3c;
}

.form-control.ng-dirty.ng-invalid.placeholder {
  color: #e74c3c;
}

.form-control.ng-dirty.ng-invalid:focus {
  border-color: #e74c3c;
}
