.form-container .btn {
  width: 100%;
}

.form-container .error {
  color: #ff0000;
  margin-bottom: 0.5em;
}

.form-container .form {
  background: #f7f7f7;
  margin: 2em auto 0;
  width: 16em;
  padding: 2em 1em;
  border-radius: 0.4em;
  text-align: center;
  max-width: 100%;
  border: 2px solid #eaeaea;
  -webkit-transition: all 0.4s;
}

.form-container .form.loading {
  border: 2px solid #1abc9c;
}

.form-container .form.error {
  border: 2px solid #e74c3c;
}

/**
 * @tag label
 */
.form-container .form .fui {
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  color: #7f8c8d;
}

.form-container .form .fui:before {
  line-height: 0;
  font-size: 1rem;
  color: inherit;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/**
 * @tag div
 */
.form-container .form .usr,
.form-container .form .pwd {
  position: relative;
  margin: 0 0 1em;
}
