/**
 * @tag form
 */
.form-container .form {
  background: #f7f7f7;
  margin: 2em auto 0;
  width: 16em;
  padding: 2em 1em;
  border-radius: 0.4em;
  text-align: center;
  max-width: 100%;
  border: 2px solid #eaeaea;
  -webkit-transition: all 0.4s;
}

.form-container .form.loading {
  border: 2px solid #1abc9c;
}

.form-container .form.error {
  border: 2px solid #e74c3c;
}

/**
 * @tag label
 */
.form-container .form .fui {
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  color: #7f8c8d;
}

.form-container .form .fui:before {
  line-height: 0;
  font-size: 1rem;
  color: inherit;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/**
 * @tag div
 */
.form-container .form .usr,
.form-container .form .pwd {
  position: relative;
  margin: 0 0 1em;
}


/**
 * @tag input
 */
.form-container .form input {
  -webkit-appearance: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid #eaeaea;
  padding: 0.5em;
  padding-right: 1.6em;
  border-radius: 0.2em;
  width: 100%;
  color: #7f8c8d;
}

.form-container .form input:focus {
  outline: 0;
  border-color: #1abc9c;
}

/**
 * @tag label
 */
.form-container .form input:focus + .fui {
  color: #1abc9c;
}

/**
 * @tag input[type=submit]
 */
.form-container .form .submit {
  border: 0;
  background: #1abc9c;
  padding: 0.5em;
  color: #fff;
}

.form-container .form .submit:hover {
  background: #16a085;
}
