header {
  padding: 0.5em;
  text-align: right;
  position: relative;
}

header .header-user {
  text-align: right;
  display: inline-block;
}

header .greeting {
  color: #fff;
}

header .breadcrumbs {
  float: left;
}

header .breadcrumbs .btn {
  display: none;
}

@media (min-width: 60em) {
  header .breadcrumbs .btn {
    display: inline;
  }

  header .breadcrumbs .back {
    display: none;
  }
}
