header {
  text-align: right;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

header .header-user {
  padding: 0.5em;
  text-align: right;
  display: inline-block;
  z-index: 100;
  position: absolute;
  right: 0;
}

header .greeting {
  color: #fff;
}

header .breadcrumbs {
  padding: 0.5em;
  float: left;
}

header .breadcrumbs .btn {
  display: none;
}

header .breadcrumbs .back {
  display: inline;
}

@media (min-width: 60em) {
  header .breadcrumbs .btn {
    display: inline;
  }

  header .breadcrumbs .back {
    display: none;
  }
}
