@-webkit-keyframes corner {
  0% {
    background: #e74c3c;
    -webkit-transform: rotate(0deg);
    border-radius:10px;
  } 50% {
    background: #ebedee;
    -webkit-transform: rotate(180deg);
    border-radius:0;
  } 100% {
    background: #e74c3c;
    -webkit-transform: rotate(360deg);
    border-radius:10px;
  }
}

@-moz-keyframes corner {
  0% {
    background: #e74c3c;
    -moz-transform: rotate(0deg);
    border-radius:10px;
  } 50% {
    background: #ebedee;
    -moz-transform: rotate(180deg);
    border-radius:0;
  } 100% {
    background: #e74c3c;
    -moz-transform: rotate(360deg);
    border-radius:10px;
  }
}

@-ms-keyframes corner {
  0% {
    background: #e74c3c;
    -ms-transform: rotate(0deg);
    border-radius:10px;
  } 50% {
    background: #ebedee;
    -ms-transform: rotate(180deg);
    border-radius:0;
  } 100% {
    background: #e74c3c;
    -ms-transform: rotate(360deg);
    border-radius:10px;
  }
}

@-o-keyframes corner {
  0% {
    background: #e74c3c;
    -o-transform: rotate(0deg);
    border-radius:10px;
  } 50% {
    background: #ebedee;
    -o-transform: rotate(180deg);
    border-radius:0;
  } 100% {
    background: #e74c3c;
    -o-transform: rotate(360deg);
    border-radius:10px;
  }
}

@keyframes corner {
  0% {
    background: #e74c3c;
    transform: rotate(0deg);
    border-radius:10px;
  } 50% {
    background: #ebedee;
    transform: rotate(180deg);
    border-radius:0;
  } 100% {
    background: #e74c3c;
    transform: rotate(360deg);
    border-radius:10px;
  }
}

loading {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9000;
  top: 0;
  overflow: hidden;
  background: rgba(18, 29, 41, 0.9);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -ms-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
}

loading.ng-hide {
  background: rgba(0, 0, 0, 0);
}

loading .spinner {
  border-radius: 10px;
  height: 16px;
  width: 16px;
  background: #ebedee;
  display: inline-block;
  position: absolute;
  -webkit-animation: corner 0.5s ease infinite;
  -moz-animation: corner 0.5s ease infinite;
  -ms-animation: corner 0.5s ease infinite;
  -o-animation: corner 0.5s ease infinite;
  animation: corner 0.5s ease infinite;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@-o-keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}​
