.mtn,
.mvn,
.man {
  margin-top: 0px;
}

.mtx,
.mvx,
.max {
  margin-top: 3px;
}

.mts,
.mvs,
.mas {
  margin-top: 5px;
}

.mtm,
.mvm,
.mam {
  margin-top: 10px;
}

.mtl,
.mvl,
.mal {
  margin-top: 20px;
}

.mrn,
.mhn,
.man {
  margin-right: 0px;
}

.mrx,
.mhx,
.max {
  margin-right: 3px;
}

.mrs,
.mhs,
.mas {
  margin-right: 5px;
}

.mrm,
.mhm,
.mam {
  margin-right: 10px;
}

.mrl,
.mhl,
.mal {
  margin-right: 20px;
}

.mbn,
.mvn,
.man {
  margin-bottom: 0px;
}

.mbx,
.mvx,
.max {
  margin-bottom: 3px;
}

.mbs,
.mvs,
.mas {
  margin-bottom: 5px;
}

.mbm,
.mvm,
.mam {
  margin-bottom: 10px;
}

.mbl,
.mvl,
.mal {
  margin-bottom: 20px;
}

.mln,
.mhn,
.man {
  margin-left: 0px;
}

.mlx,
.mhx,
.max {
  margin-left: 3px;
}

.mls,
.mhs,
.mas {
  margin-left: 5px;
}

.mlm,
.mhm,
.mam {
  margin-left: 10px;
}

.mll,
.mhl,
.mal {
  margin-left: 20px;
}
