.subscriptions {
  position: relative;
}

.subscriptions.loading {
  min-height: 4em;
  background: url(../img/spinner.gif) center no-repeat;
}

.subscriptions .form-container {
  padding: 1em 0;
}

.subscriptions .form {
  margin: 0 auto;
  width: auto;
  padding: 0;
  border: 0;
  max-width: 20em;
  background: inherit;
}

.subscriptions .new-subscription {
  position: relative;
  display: inline-block;
}

.subscriptions .form .submit {
  display: inline-block;
  width: auto;
}

.subscriptions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.subscriptions li {
  position: relative;
  padding: 1em 3em 1em 1em;
  border-bottom: 1px solid #bababa;
}

.subscriptions li:hover {
  background: #eaeaea;
}

.subscriptions .name {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subscriptions .unread {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #9a9a9a;
}
