.subscriptions {
  position: relative;
}

.subscriptions .loading {
  height: 4em;
  background: url(../img/spinner.gif) center no-repeat;
}

.subscriptions .form-container {
  padding: 1em 0;
}

.subscriptions .form {
  margin: 0 auto;
  width: auto;
  padding: 0;
  border: 0;
  max-width: 20em;
  background: inherit;
}

.subscriptions .new-subscription {
  position: relative;
  display: inline-block;
}

.subscriptions .form .submit {
  display: inline-block;
  width: auto;
}

.subscriptions ul {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}

.subscriptions .subscription {
  position: relative;
  width: 12em;
  display: inline-block;
  margin: 0 1em;
  cursor: pointer;
  background: #f7f7f7;
  border-radius: 0.5em;
}

.subscriptions .subscription .name {
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5em;
  background: #1abc9c;
  color: #fff;
  text-align: center;
}

.subscriptions .subscription .unread {
  margin: 0;
  padding: 0.5em;
  border-top: 1px solid #1abc9c;
  text-align: right;
}

.subscriptions .subscription .icon {
  width: 100%;
  vertical-align: bottom;
}

@media (max-width: 60em) {
  .subscriptions ul {
    padding: 0;
  }

  .subscriptions .subscription {
    width: auto;
    height: auto;
    display: block;
    border-radius: 0;
    background: 0;
    border-top: 1px solid #666;
    padding: 1em;
  }

  .subscriptions .subscription:last-child {

    border-bottom: 1px solid #666;
  }

  .subscriptions .subscription .name {
    background: 0;
    color: #333;
    text-align: left;
    padding: 0;
  }
}
