<article class="article">
  <a class="btn unread" ng-click="unread()">Mark as Unread</a>
  <div class="metadata">
    <time
      class="pub-date"
      title="{{article['pub-date'] |
        moment:'dddd, MMMM Do YYYY, h:mm:ss A'}}">
          {{article['pub-date'] | moment:'relative'}}
    </time>
    <span class="title">
      <a href="{{article.url}}">{{article.title}}</a>
    </span>
    <span class="source">By: {{article.author}}</span>
  </div>
  <div class="content" ng-bind-html="article.content"></div>
</article>
