<article
  class="article"
  id="{{Article.article.id}}"
  swipe
  ng-show="Article.article">
  <button
    toggle-article-status
    ng-show="!Article.article.read"
    class="btn btn-xs btn-primary">Mark as read</button>
  <button
    toggle-article-status
    ng-show="Article.article.read"
    class="btn btn-xs btn-primary">Mark as unread</button>
  <div class="metadata">
    <time
      class="pub-date small"
      title="{{Article.article['pub-date'] | moment | format}}"
      ng-bind="Article.article['pub-date'] | moment | fromNow"></time>
    <h1 class="title mts mbs">
      <a
        href="{{Article.article.url}}"
        target="_blank"
        ng-bind="Article.article.title"></a>
    </h1>
    <span
      ng-show="article.author"
      class="source small"
      ng-bind="article.author"></span>
  </div>
  <content
    class="content ptm pbm"
    ng-bind-html="Article.article.content"></content>
</article>
