<div class="feed">
  <div class="feed-title">{{feed.name}}</div>
  <ul>
    <li 
      ng-repeat="article in articles"
      ng-click="goToArticle(feed.id, article.id)">
        <article class="{{article.status}}">
          <time
            class="pub-date"
            title="{{article['pub-date'] |
              moment:'dddd, MMMM Do YYYY, h:mm:ss a'}}">
                {{article['pub-date'] | moment:'relative'}}
          </time>
          <div class="title">{{article.title}}</div>
          <div class="preview">{{article.content | htmlToPlainText}}</div>
        </article>
    </li>
  </ul>
</div>
