<div class="article-list">
  <div class="feed">
    <div class="feed-title" ng-switch on="feed.url">
      <span ng-switch-when=null>{{feed.name}}</span>
      <a href="{{feed.url}}" target="_blank" ng-switch-default>{{feed.name}}</a>
    </div>
    <div class="filter-bar">
      Filter by:
      <div class="filters">
        <span
          ng-class="{'active-filter': feedFilter == null}"
          ng-click="feedFilter = null">
            All
        </span> |
        <span
          ng-class="{'active-filter': feedFilter.read == false}"
          ng-click="feedFilter = {read: false}">
            Unread
        </span> |
        <span
          ng-class="{'active-filter': feedFilter.read == true}"
          ng-click="feedFilter = {read: true}">
            Read
        </span>
      </div>
    </div>
    <ul>
      <li
        ng-repeat="article in ArticleList.list | filter:feedFilter:true">
        <a href="/home/{{article.feed_id}}/{{article.id}}">
          <article ng-class="{'unread': !article.read}">
            <time
              class="pub-date"
              title="{{article['pub-date'] |
                moment:'dddd, MMMM Do YYYY, h:mm:ss a'}}">
                  {{article['pub-date'] | moment:'relative'}}
            </time>
            <div class="title">{{article.title}}</div>
            <div class="preview">{{article.content | htmlToPlainText}}</div>
          </article>
        </a>
      </li>
    </ul>
  </div>
</div>
