<nav>
  <span class="breadcrumbs">
    <a
      href="/home"
      class="btn btn-primary mrs"
      ng-show="User.authenticated">Home</a>
  </span>
  <div class="header-user">
    <span
      class="greeting"
      ng-show="User.authenticated">Hello, {{User.username}}!</span>
    <a
      href="/login"
      class="btn btn-success mls"
      ng-show="!User.authenticated && location.$$path !== '/'">Login</a>
    <a
      href="/register"
      class="btn btn-danger mls"
      ng-show="!User.authenticated && location.$$path !== '/'">Register</a>
    <a
      href="/logout"
      class="btn btn-default mls"
      ng-show="User.authenticated">Logout</a>
  </div>
</nav>
