<nav>
  <breadcrumbs>
    <a
      href="/home"
      class="btn btn-primary mrs"
      ng-show="User.authenticated">Home</a>
  </breadcrumbs>
  <div class="header-user">
    <greeting
      ng-show="User.authenticated">Hello, {{User.username}}!</greeting>
    <a
      href="/login"
      class="btn btn-success mls"
      ng-show="!User.authenticated">Login</a>
    <a
      href="/register"
      class="btn btn-danger mls"
      ng-show="!User.authenticated">Register</a>
    <a
      href="/logout"
      class="btn btn-default mls"
      ng-show="User.authenticated">Logout</a>
  </div>
</nav>
