<div class="form-container">
  <form class="form" ng-class="{error:error,loading:loading}">
    <img src="img/avatar_2x.png" class="avatar">
    <div class="usr">
      <input
        autofocus
        id="usr"
        ng-model="username"
        placeholder="Username"
        type="text">
      <label for="usr" class="fui fui-user">Username</label>
    </div>
    <div class="pwd">
      <input
        id="pwd"
        ng-model="password"
        placeholder="Password"
        type="password">
      <label for="pwd" class="fui fui-lock">Password</label>
    </div>
    <input type="submit" ng-click="login()" value="Login" class="submit">
  </form>
  <p class="center-text">
    <a href="/register">Create an account</a>
  </p>
</div>
