<div class="form-container">
  <form class="form">
    <img src="img/avatar_2x.png" class="avatar">
    <div class="usr">
      <input
        autofocus
        id="usr"
        ng-model="username"
        ng-trim="false"
        placeholder="Username"
        type="text">
      <label for="usr" class="fui fui-user">Username</label>
    </div>
    <div class="pwd">
      <input
        id="pwd"
        ng-model="password"
        ng-trim="false"
        placeholder="Password"
        type="password">
      <label for="pwd" class="fui fui-lock">Password</label>
    </div>
    <input
      type="submit"
      ng-click="login(username, password)"
      value="Login"
      class="btn btn-hg btn-success">
  </form>
</div>
