<div
  class="subscriptions"
  ng-init="updateFeeds()">
  <div class="form-container">
    <form class="form">
      <div class="new-subscription">
        <input
          id="new-sub"
          ng-model="newFeed"
          placeholder="Enter a URL"
          tabindex="1"
          type="text">
        <label for="new-sub" class="fui fui-new">New subscription</label>
      </div>
      <input
        class="submit"
        ng-click="addFeed()"
        tabindex="2"
        type="submit"
        value="Add">
    </form>
  </div>

  <ul ng-class="{loading:loadingFeeds}">
    <li
      class="subscription"
      ng-repeat="feed in subscriptions"
      ng-click="goToFeed(feed.id)">
        <h5 class="name">{{feed.name}}</h5>
        <img class="icon" src="http://robohash.org/{{feed.name}}"></i>
        <h5 class="unread">Unread: {{feed.unreads}}</h5>
    </li>
  </ul>
</div>
