<div class="subscriptions" ng-class="{loading:loadingFeeds}">
  <ul>
    <li
      ng-repeat="feed in subscriptions"
      ng-click="goToFeed(feed.id)">
        <div class="name">{{feed.name}}</div>
        <div class="unread">{{feed.unreads}}</div>
    </li>
  </ul>

  <div class="form-container">
    <form class="form">
      <div class="new-subscription">
        <input
          id="new-sub"
          ng-model="newFeed"
          placeholder="Enter a URL"
          tabindex="1"
          type="text">
        <label for="new-sub" class="fui fui-new">New subscription</label>
      </div>
      <input
        class="submit"
        ng-click="addFeed()"
        tabindex="2"
        type="submit"
        value="Add">
    </form>
  </div>
</div>
