<div class="subscriptions">
  <div class="form-container">
    <form class="form">
      <div class="new-subscription">
        <input
          id="new-sub"
          ng-model="addFeed.url"
          placeholder="Enter a URL"
          tabindex="1"
          type="text">
        <label for="new-sub" class="fui fui-new">New subscription</label>
      </div>
      <input
        class="submit"
        ng-click="addFeed.add()"
        tabindex="2"
        type="submit"
        value="Add">
    </form>
  </div>

  <ul>
    <li ng-repeat="feed in testApi">
      <a href="#/home/{{feed.id}}">{{ feed.name }}</a> - {{ feed.unreads }}
    </li>
  </ul>
</div>
